
    @media (min-width: 1110px) {
    .Footer-first-container {
        height: 99vh;
        background-image: url('./AjeperLogo/Purple\ background.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-color: #f2f7ff;
    }.Footer{
        width: 35%;
        font-family: 'poppins';
        margin-left: 5%;
    }.Footer-Text-Container span {
        font-weight: bolder;
        margin-top: 10%;
        font-size: 60px;
    }.Footer-Text-Container p {
        font-weight:500;
        font-size: 40px;
    }.Footer-Text-Container small {
        font-weight: lighter;
        font-size: 20px;
    }.Footer-buttons-section{
        display: flex;
        margin-top: 20%;
        gap: 10%;
    }.a.btn-google {
        color: black
    }.Footer-Text-Container{
        padding-top: 30%;
        
    }.Footer-Prizren-Prishtin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8%;
        width: 80%;
        font-family: 'poppins';
        background-repeat: no-repeat;
        background-position: center;
    }.Footer-Line{
        width: 90%;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./AjeperLogo/Group5.png');
        background-position: center;
        margin-left: 10px;
        display: flex;
        justify-content:space-between;
    }.Footer-Prizren-Prishtin small {
        font-weight: lighter;
        color: gray;
    }

    .btn {
        padding: 10px 16px;
        margin: 5px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        font-weight: 500;
        text-decoration: none;
        display: inline-block
    }

    .btn-google {
        color: black;
        background-color: white;
        padding: 15px 16px 5px 40px;
        position: relative;
        font-family: fontfutura;
        font-weight: 600
    }


    .btn-google:before {
        content: "";
        background-image: url('../Photos/logoplay.png');
        
        background-repeat: no-repeat;
        width: 30px;
        height: 40px;
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -15px
    }

    .btn-google:after {
        content: "GET IT ON";
        color: black;
        position: absolute;
        top: 5px;
        left: 40px;
        font-size: 10px;
        font-weight: 400;
    }.btn-Apple {
        color: black;
        background-color: white;
        padding: 15px 16px 5px 40px;
        position: relative;
        font-family: fontfutura;
        font-weight: 600
    }


    .btn-Apple:before {
        content: "";
        background-image: url('../Photos//logoapple.png');
        
        background-repeat: no-repeat;
        width: 30px;
        height: 40px;
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -15px
    }

    .btn-Apple:after {
        content: "Download on the";
        color: black;
        position: absolute;
        top: 5px;
        left: 40px;
        font-size: 10px;
        font-weight: 400;
    }.Footer-White-Background{
        position: absolute;
        bottom: 70%;
        left:80%;
        width: 300px;
        height: 100px;
        background-color: white;
        border-radius: 20px;
    }.Footer-Text-Img{
        margin-left: 20px;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
    }.Footer-Text-Img img {
        width: 35px;
        height: 35px;
    }.images{
        position: absolute;
        background-image: url('./AjeperLogo/Group177.png');
        left: 43%;
        bottom: 15%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 650px;
        height: 650px;
    }.Footer-Image-Person{
        background-image: url('./AjeperLogo/Group11.png');
        display: inline-block;
        left: 52%;
        bottom: 10%;        
        position:absolute;
        width: 70px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 70px;
        animation: Rotate 3s;
       
    }.Footer-Image-Person2{
        background-image: url('./AjeperLogo/Group10.png');       
        position:absolute;
        width: 90px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 90px;
        animation: Rotate 3s;
       left: 40%;
       bottom: 30%;
    }.Footer-Image-Person3{
        background-image: url('./AjeperLogo/Group9.png');       
        position:absolute;
        width: 110px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 110px;
        animation: Rotate 3s;
       left: 42%;
       bottom: 75%;
    }.Footer-Image-Person4{
        background-image: url('./AjeperLogo/Group8.png');       
        position:absolute;
        width: 100px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        animation: Rotate 3s;
       left:66%;
       bottom: 85%;
    }.Footer-Image-Person5{
        background-image: url('./AjeperLogo/Group7.png');       
        position:absolute;
        width: 100px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        left: 95%;
        animation: Rotate 3s;
    }.Footer-Image-Person5 img{
        width: 60px;
        height: 60px;
        position:absolute;
        margin-top: 20%;
        margin-left: 20%;
    }.Footer-Image-Person4 img{
        width: 80px;
        height: 80px;
        position:absolute;
        margin-top: 10%;
        margin-left: 10%;
    }
    .Footer-Image-Person2 img{
        position:absolute;
        margin-top: 18%;
        margin-left: 18%;
    }.Footer-Image-Person img{
        position:absolute;
        margin-top: 17.5%;
        margin-left: 20%;
    }.Footer-Image-Person3 img{
        position:absolute;
        margin-top: 17.5%;
        margin-left: 20%;
    }
    @keyframes Rotate {
        from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
        }
        
    }.Footer-Maps-Container{
        display: flex;
        width: 300px;
        height: 150px;
        background-color: white;
        position: absolute;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        left:84.211%;

        top: 50%;
    }.Footer-Maps-Container p{
        font-family: 'poppins';
        margin-left: 40px;
    }

    
}

@media (max-width: 1110px) {
    .Footer-first-container {
        height: 99vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-color: #f2f7ff;
        
    }

    .app-Play-btn {
        display: flex;
        width: 55px;
        height: 55px;
        margin-right: 110px;
    }

    .Google-Play-btn {
        margin-top: 20px;
        display: flex;
        width: 55px;
        height: 55px;
        margin-right: 110px;
    }

    .GTD-btn {
        background-color: #514BC3;
        width: 20%;
        height: 50px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        border: none;
    }

    .Footer-buttons-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 20px;
    }

    .Footer {
        font-family: 'poppins';
        margin-left: 5%;
    }

    .Footer-Text-Container {
        position: absolute;
        margin-top: 100px;
        
        text-align: center;
    }

    .Footer-Text-Container span {
        font-size: 50px;
    }

    .Footer-Text-Container p {
        font-size: 40px;
        font-weight: lighter;
    }

    .Footer-Text-Container small {
        font-size: larger;
        font-weight: lighter;
    }

    a.btn-google {
        color: black
    }

    .btn {
        padding: 10px 16px;
        margin: 5px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        font-weight: 500;
        text-decoration: none;
        display: inline-block
    }

    .btn-google {
        color: black;
        background-color: white;
        padding: 15px 16px 5px 40px;
        position: relative;
        font-family: fontfutura;
        font-weight: 600
    }


    .btn-google:before {
        content: "";
        background-image: url('../Photos/logoplay.png');
        
        background-repeat: no-repeat;
        width: 30px;
        height: 40px;
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -15px
    }

    .btn-google:after {
        content: "GET IT ON";
        color: black;
        position: absolute;
        top: 5px;
        left: 40px;
        font-size: 10px;
        font-weight: 400;
    }.btn-Apple {
        color: black;
        background-color: white;
        padding: 15px 16px 5px 40px;
        position: relative;
        font-family: fontfutura;
        font-weight: 600
    }


    .btn-Apple:before {
        content: "";
        background-image: url('../Photos//logoapple.png');
        
        background-repeat: no-repeat;
        width: 30px;
        height: 40px;
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -15px
    }

    .btn-Apple:after {
        content: "Download on the";
        color: black;
        position: absolute;
        top: 5px;
        left: 40px;
        font-size: 10px;
        font-weight: 400;
    }.images{
        width: 100%;
        height: 100%;
        margin-top: 40px;
        background-size:cover;
        background-repeat: no-repeat;
    }.Footer-Image-Background{
        display: none;
    }.Footer-White-Background{
        display: none;
    }.Footer-Maps-Container{
        display: none;
    }
}