.Leaving-Text-as-display-flex {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.Leaving-Text-Container {
    display: flex;
    @media(max-width: 800px) {
        flex-direction: column
    }
}

.Leaving-Image {
    object-position: right;
}

.Leaving-Backgorund-img {
    display: flex;
    align-items: center;
    justify-self: center;

}

.Leaving-Backgorund-Image {
    position: relative;
}

.Leaving-Image-Car {
    position: relative;
    width: 100%;
    z-index: 2;
}

.Leaving-Text-Container {
    display: flex;
    align-items: stretch;
    padding: max(2rem, 10vw) 0 max(2rem, 10vw) 0;
    overflow: hidden;
    width: 100%;
    padding: 12rem, 10vw;
}

.left-side {
    padding: 6rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: max(1rem, 1vw);

    @media(max-width: 800px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: max(1rem, 1vw);
        text-align: center;
    }

    .values-card {
        display: flex;
        align-items: center;
        gap: max(10px, 1vw);

        .values-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: max(1rem, 1.5vw);
            border-radius: max(0.5rem, 1vw);
            font-size: max(18px, 1.5vw);
        }
    }
}

.Leaving-Icon {
    width: 5rem !important;
    height: 5rem !important;
}


.right-side {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.violet-bg {
    width: 100%;
    right: -40%;
    position: absolute;
    z-index: 1;
}

.car-img {
    position: relative;
    z-index: 2;

}