
.Home-Section{
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
  }.Icon-Section{ 
    display: flex;
    gap: 10%;
  }.Icon-Section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
  }.Icon-Section{
    display: flex;
    align-items: center;
  }.Button-Section{
    
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    flex: 3;
  }.rotated {
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
  }.rotate {
    transition: 0.3s ease-in-out;
  }
  @media (max-width: 1110px ){
    .Home-Section{
      display: none;
    }
  }
  @media (min-width: 1110px ){
    .buttons-section{
      display: none;
    }
  }