.mobile-navbar-colorChange{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 100;
}.mobile-navbar{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}

.toogle-container{

    position:sticky;
    left: 95%;
}.Title-Container{
    margin-left: 15px;
    font-size: x-large;
    font-weight: bolder;
}@media (min-width: 1110px ){
    .mobile-navbar-colorChange, .mobile-navbar{
      display: none;
    }
  }





